@use '../config/config';

.main_product_details {
  margin-top: 120px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100%;
  // background: yellow;
  .main-product-details-sidebar {
    display: flex;
    width: 90%;
    justify-content: center;

    @import './productDetail.scss';

    @import './propductDetailsMenu.scss';

    @import './side-menu.scss';
  }

  @import './query_button.scss';
}
@import './offer.scss';

 @media only screen and (max-width: 600px) {
   .main_product_details {
    margin-top: 0px;
    .main-product-details-sidebar {
      width: 98%;
    }
   }
 }