
  .product-detail {
      height: auto;
      width: 60%;
      display: flex;
      flex-direction: column;
      @import './socialmediaShare.scss';

      @import './imageAndKeyspecification.scss';

      @import './overview.scss';

      @import './specification.scss';
    }

@media only screen and (max-width: 600px) {
  .product-detail {
    width: 100%;
  }
}