.product-detail-menu {
  width: 100%;
  justify-content: center;
  .product-menu-tabs {
    background: black;
    height: auto;
  }
  .panel-container {
    background: white;
    height: auto;
    width: 100%;
  }
}