.side-menu {
  width: auto;
  height: auto;
  // margin-top: 50px;
  width: 300px;
  margin-left: 30px;
  color: black;
  .side-manu-car {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    .side-menu-car-container {
      background: white;
      border: 1px solid #f1f1f1;
      padding: 10px;
      width: 100%;
      height: auto;
      max-height: 400px;
      overflow-y: scroll;
      margin-bottom: 30px;
      .side-menu-car-element {
        background: #f1f1f1;
        cursor: pointer;
        padding: 5px;
        display: flex;
        width: 100%;
        align-items: center;
        margin: 2px;
        img {
          height: 40px;
          width: 40px;
          margin-right: 5px;
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .side-menu {
    display: none;
  }
}