.compare-product {
  width: 100%;
  height: auto;
  // background: yellow;
  .compare-body {
    margin-top: 120px;
    // background: yellowgreen;
    .body-header {
      height: 300px;
      width: 100%;
    }
    .content-body {
      width: 100%;
      // background: yellow;
      border: 1px solid #f1f1f1;
      margin: 5px;
      padding-top: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .selector {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .selector-pair-one {
          display: flex;
        }
        .selector-pair-two {
          display: flex;
        }
      }
      .button {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 40px;
      }
      .compare-result {
        width: 90%;
        display: flex;
        justify-content: center;
        @import './sepecification.scss';
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .compare-product {
    .compare-body {
      margin-top: 0px;
      .body-header {
        display: none;
        background: red;
      }
      .content-body {
        .selector {
          .selector-pair-one {
            display: inline;
          }
          .selector-pair-two {
            display: none;
          }
        }

        .compare-result {
          width: 99%;
        }
      }
    }
  }
}